body {
  background-color: #def5ff;
}
header {
  text-align: center;
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.weather-app {
  background-color: white;
  max-width: 500px;

  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgba(65, 50, 50, 0.88);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.current-temperature {
  font-size: 50px;
  margin: -5%;
  padding: 5%;
  font-weight: 500;
}

.emoji {
  width: 150px;
  height: 150px;
  margin: auto;
  padding: -5%;
}

.welcome-to-city {
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: -35px;
}
ul {
  list-style: none;
  font-size: 14px;
  display: block;
}

.date-discription {
  position: relative;
  top: -105px;
  left: -10px;
  text-align: left;
  max-width: 150px;
  max-height: 10%;
}

.humidity-style {
  position: relative;
  top: -65px;
  right: 20px;
  text-align: right;
}

.forecast-weather {
  position: relative;
  top: -75px;
}

.weather-forecast {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
  color: black;
}

.weather-date {
  font-size: 12px;
  opacity: 0.5;
}

.forecast-icon {
  width: 48px;
}

.forecast-temp {
  font-size: 12px;
  opacity: 0.5;
}
.form-style {
  background-color: #def5ff;
  border: none;
  width: 75%;
  border-radius: 8px;
  font-size: 24px;
  padding: 15px;
  position: relative;
  top: -25px;
}
.search-button {
  background-color: rgb(12, 146, 230);
  border: none;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  top: -28px;
  color: white;
}
.reference {
  position: relative;
  top: -25px;
  max-height: fit-content;
  font-size: 16px;
}
