body {
  background-color: #def5ff;
}
header {
  text-align: center;
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.weather-app {
  background-color: white;
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgba(65, 50, 50, 0.88);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.current-temperature {
  font-size: 50px;
  margin: -5%;
  padding: 5%;
  font-weight: 500;
}

.emoji {
  font-size: 100px;
  margin: -25%;
  padding: auto;
}

.welcome-to-city {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  top: -35px;
}
ul {
  list-style: none;
  font-size: 14px;
}

.date-discription {
  position: relative;
  top: -65px;
  left: -10px;
  text-align: left;
  max-width: 150px;
}

.humidity-style {
  position: relative;
  top: -125px;
  right: 20px;
  text-align: right;
}
.wind-style {
  position: relative;
  top: -125px;
  right: 30px;
  text-align: right;
}

.form-style {
  background-color: #def5ff;
  border: none;
  width: 75%;
  border-radius: 8px;
  font-size: 24px;
  padding: 15px;
  position: relative;
  top: -85px;
}
.search-button {
  background-color: rgb(12, 146, 230);
  border: none;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  top: -88px;
  color: white;
}
.reference {
  position: relative;
  top: -55px;
  max-height: fit-content;
  font-size: 16px;
}
